body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/components/ScheduleGrid.css */
.schedule-grid {
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr); /* 1 колонка для времени и 7 для дней недели */
  gap: 1px; /* Промежуток между ячейками */
  background-color: #ccc; /* Цвет фона для сетки */
}

.header {
  background-color: #f0f0f0; /* Цвет фона для шапки */
  font-weight: bold;
}

.empty-cell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Граница ячейки */
}

.time-slot {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Граница ячейки */
}

.day {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Граница ячейки */
}

.body {
  background-color: #fff; /* Цвет фона для тела */
}

.time-row {
  display: contents; /* Позволяет использовать grid для строк */
}

.cell {
  height: 50px; /* Высота ячейки */
  border: 1px solid #ccc; /* Граница ячейки */
}
